doctype html
html(lang="en")
	head
		title Create new Donation Tweet
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	body
		.container
			title Create a new Donation Tweet


		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="./script.js"></script>